@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
    font-size:10px;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    /* justify-content: center; */
    /* position: relative; */
    z-index: -876;
    background-color: rgb(227, 230, 233);
    position: relative;
}
body.disable{
    height: 100%;
    overflow: hidden;
}
p,a,ul,li,
h1,h2,h3,h4,h5,h6
div,section{
    font-size:10px;
    color: rgb(41, 38, 38);    
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    /* width: 100%; */
}

.blue_text{
    color: rgb(8, 56, 187);
  }
  
.yellow_text{
    color: #FFD600;
  }
  
.green_text{
    color: #42FF00;
  }
  
.red_text{
    color: #ff0000;
  }
  
.brown_text{
    color: #745500;
  }
.button{
    border: 2.5px solid rgba(48, 48, 48, 0.5);    height: 3rem;
    width: 220px;
    padding: 7px 15px;
    border-radius: 25px;
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.62);
}
.button-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.button-dl-icon{
    width: 25px;
    height: auto;
}
.button:hover{
    transform: scale(1.1,1.1);
    background: rgb(160, 160, 160);
    /* color: white; */
}
h1{
    font-size: 2.5rem;
    font-weight: bolder;
}
h2{
    font-size: 1.7em;
    font-weight: 400;
}
h3{
    font-size: 1.2rem;
    font-weight:500;
}
.nav-anim1{
    --animate-duration: 1.7s;
}
.nav-anim2{
    --animate-duration: 1.2s;
}
.nav-anim3{
    --animate-duration: 1s;
}
.nav-anim4{
    --animate-duration: .8s;
}
.nav-anim5{
    --animate-duration: .6s;
}

 /* animation ends here */

.section--mod{
    /* background: rgba(102, 102, 102, 0.3); */
    border-radius: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    min-height: 50px;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    z-index: 2;
    position: fixed;
    border-bottom: 1px solid rgb(230, 230, 230);
}
#navbar{
    /* min-width: 100%; */
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.mlogo{
    /* width: 40px;
    height: auto; */
    font-size: 1.7rem;
    font-weight: 700;
    color:black;
}
.mlogo:hover{
    /* transform:  */
    transform: scale(.8,.8)rotate(-10deg);
    transition: all .4s ease-out;
    cursor: pointer;    
    color: #ff5500;
}
.navbar--links{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.social--container{
    display: none;
}
.social--container.displayon{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mlogo.changecolor{
    color:#ff5500;
}
.navbar--links-a{
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
}
.navbar--links li:hover{
    transform: scale(1.2,1.2);
    font-weight: 500;
    transition: all .2s ease-in-out;
}
.navbar--links li a:hover{
    color: rgb(57, 112, 163);
}
.navbar--links li:nth-child(4) a{
    width: 150px;
}
.navbar--links li:nth-child(4):hover{
    transform: scale(1.1,1.1);
    color: white;
    transition: all .2s ease-in-out;
}
.navbar--links li:nth-child(4) a:hover{
    color: white;    
}
.navbar--hamburger{
    display: none;
}
.navbar--hamburger--line{
  background-color: black;
  border-radius: 1rem;
  width: 25px;
  height: 4px;
}
#welcome-section{
    margin-top: 7vh;
    min-height: 93vh;
    height: 100%;
    width: 95%;
    display: flex;
    overflow: hidden;
    z-index: 1;
    gap: 10px;
    padding: 10% 0 5% 0;
}
/* .welcome-item-01{
    
}
.welcome-item-02{
    
}
.welcome-item-03{
    
}
.welcome-item-04{
    
} */
.welcome-item-05{
    --animate-duration: 800ms;
    --animate-delay: 1s;
}
.welcome-item-06{
    --animate-duration: 800ms;
    --animate-delay: 1.2s;
}
.welcome-item-07{
    --animate-duration: 800ms;
    --animate-delay: 1.5s;
    
}
.welcome-caption01,.welcome-caption02{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome-details{
    font-size: .9rem;
    font-weight: 500;
}
.image-avatar{
    margin: 1% 0;
}
.button-icon{
    height: 24px;
    width: auto;
}
.button-container{
    min-width: 310px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 2rem;
}

.bg--animation{
    width: 100%;
    height: 100vh;
    position:fixed;
    z-index: -5;
    top:0;
}
.dummy--section{
    height: 400vh;
}
#about-section{
    width: 95%;
    margin-top: 7vh;
    min-height: 93vh;
    height: 100%;
    margin: 5vh 0;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#about-section span{
    font-size: .6rem;
    font-weight: 500;
}
.section-title{
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 2% 0;
}
.about-section--first,.about-section--second p{
    font-size: .8rem;
    text-align: justify;
    font-weight: 400;
}
.about-section--first,
.about-section--second,
.about-section--third
{
    max-width: 700px;
    width: 100%;
}
/* about section ends here */

.card-details p{
    font-size: .7rem;
    font-weight: 400;
}
.card-button .button a{
    display: inline-block;
    font-size: 1rem;
}
.card-details a{
    color: rgb(25, 0, 255);
}
#works-section{
    margin-top: 7vh;
    min-height: 93vh;
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.works-card-container{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
    margin-top: 5vh;
}
.works-card{
    background-color: rgb(160, 160, 160);
    width: 290px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.62);
}
.card-img--container{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.card-img{
    width: 90%;
    height: auto;
    position: absolute;
    align-self: center;
}
.card-img--container:hover{
    transition: all .4s ease-out;
    overflow:visible;
    transform: scale(1.2,1.2);
}
.card-icon-container{
    background: rgb(180, 180, 180);
    height: 40px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid black;
}
.card-icon{
    width: 22px;
    height: auto;
}
.card-title{
    background: rgb(180, 180, 180);
    height: 40px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: .8rem;
    font-weight: 500;
    color: #0003b8;
    text-decoration: underline;
}
.card-details{
    background: rgb(180, 180, 180);
    height: 110px;
    padding: 0 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}
.card-button{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.card-button .button{
    height: 40px;
    width: 120px;
}
.card-button .button:hover{
    background: rgb(187, 186, 186);
}
/* work section ends here */

#contact-section{
    width: 95%;
    margin-top: 7vh;
    height: 93vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-first-con{
    width: 100%;
    height: auto;
    /* background: rgb(134, 134, 134); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    margin-top: 2vh;
}
.contact-form--container{
    /* border: 1px solid black; */
    border-radius: 10px;
    background: rgb(219, 219, 219);
    width: 100%;
    height: 420px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:2% 0;    
    filter: drop-shadow(2px 2px 10px #000000);
}
.contact-form--container input,textarea{
    border: grey;
    width: 95%;
    height: 2rem;
    padding: 1% 3%;
    margin: 10px 0;
    border-radius: 10px;
    font-size: .7rem;
}
.contact-form--container textarea{
    height: 200px;
    font-size: .9rem;
    font-weight: 400;
    resize: none;
}
.contact-form--container input[type="submit"]{
    width: 50%;
    border-radius: 10px;    
    filter: drop-shadow(1px 1px 5px #777777);
    cursor: pointer;
    font-size: .9rem;
}
.contact-form--container input[type="submit"]:hover{
    background: rgb(132, 244, 252);
    color:black
}
.contact-form--container input[type="submit"].success{
    background: rgb(132, 252, 132);
    border: .5px solid  rgb(129, 255, 129);
    filter: drop-shadow(0 0 5px rgb(0, 231, 0));
}
.contact-form--container input[type="submit"].failed{
    background: rgb(255, 51, 0);
    color: white;
    font-weight: 700;
    border:2px solid red;
    filter: drop-shadow(0 0 5px #700000);
}
/* contact section ends here */
#footer{
    background: rgb(240, 240, 240);
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer--content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer--content p{
    font-size: .8rem;
    font-weight: 400;
}
.content-details-1{
    padding: 10px;
    min-width: 300px;
    max-width: 320px;
    background: rgb(177, 177, 177);
}
#footer a{
    display: inline-block;
    font-size: .6rem;
    color: darkblue;
}
.content-details-2{
    /* background: rgb(87, 87, 87); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
}
.details-2--icon{
    display: flex;
    width: 100%;
    max-width: 400px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
    /* gap: 20px; */
}
#footer .soc--icon{
    width: 25px;
    height: auto;
}#footer .soc--icon:hover{
    transform: scale(1.4,1.4);
    transition: .4s all ease-in-out;
}

@media screen and (max-width: 768px){
    .image-avatar{
        min-width: 200px;
        max-width: 30%;
        padding-bottom: 5%;
    }
    .svg--container01{
        min-width: 100%;
    }
    .svg--container02{
        top:2.5vh; 
        min-width: 100%;
    }
    .svg--container03{
        position: absolute;
        top:4.6vh;
    }
    nav{
        position: relative;
    }
    .navbar--hamburger{
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;    
    }
    .navbar--links{
        background-color: rgb(0, 0, 0,.9);
        padding: 25% 0;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        top:0;
        right: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        /* clip-path: polygon(0% 0%,0% 0%,0% 0%,0% 0%);
        -webkit-clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%); */
        clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
        -webkit-clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
        transition: all .5s ease-out;
        pointer-events: none;
        opacity: 0;
    }
    .navbar--links.show{
        clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
        -webkit-clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
        pointer-events: all;
        opacity: 1;
    }
    .soc--icon{
        width: 25px;
        height: auto;
    }
    
}

@media (min-width: 769px){

    .navbar--links-a{
        font-size: 1rem;
        margin-left: 80px;
    }
    
    #welcome-section{
        padding-top: 5%;
    }
    .image-avatar {
        width: 308px;
    }
    .contact-first-con{
        overflow: hidden;
    }
    .contact-form--container{
        max-width: 400px;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .section-title{
        font-size: 2rem;
    }   
    h1{
        /* color: white; */
        font-size: 3.5rem;
        /* font-size: 2.5rem; */
        font-weight: bolder;
    }
    h2{
        /* color: white; */
        font-size: 2.5em;
        /* font-size: 1.7em; */
        font-weight: 400;
    }
    h3{
        /* color: white; */
        font-size: 2rem;
        /* font-size: 1.2rem; */
        font-weight:500;
    }
    .welcome-details{
        font-size: 1.2rem;
    }
    .svg--container02{
        top: 2.3vh; 
    }
    .svg--container03{
        position: absolute;
        top:4.6vh;
    }
    /* .navbar--links{
        width: 80%;
        align-items: center;
    } */
    .navbar--links a{
        font-size: 1rem;
    }
    #about-section span{
        font-size: .6rem;
    }

}

@media screen and (min-width: 1025px){

    .about-section--second p{
        font-size: 1rem;
    }
    .section-title{
        font-size: 2.5rem;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 2.5em;
    }
    h3{
        font-size: 2rem;
    }
    .welcome-details{
        font-size: 1.2rem;
    }
    .navbar--links{
        width: 60%;
    }
    .svg--container01{
        top:0;
    }
    .svg--container02{
        top: 3vh; 
    }
    .svg--container03{
        position: absolute;
        top:6vh;
    }
}

@media (min-width: 1281px){
    .welcome-details{
        font-size: 1.2rem;
    }
    /* #welcome-section{
        margin-top: 7vh;
    } */
    .svg--container03{
        position: absolute;
    }
    .svg--container01{
        top:-5vh
    }
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 2.5em;
    }
    h3{
        font-size: 2rem;
    }
    
}